@using FletNix.Models
@model FletNix.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-6"><h2>@Html.DisplayFor(model => model.Title)</h2></div>

    <div class="col-md-12 text-left">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@Html.DisplayFor(model => model.Url)" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Movie Details</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr>
                <td><strong>Duration</strong></td>
                <td>@Html.DisplayFor(model => model.Duration) minutes</td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <td><strong>Year</strong></td>
                <td>@Html.DisplayFor(model => model.PublicationYear)</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr>
                <td><strong>Duration</strong></td>
                <td>@ViewData.Model.Duration minutes</td>
            </tr>
            <tr>
                <td><strong>Genres</strong></td>
                <td>
                    @foreach (MovieGenre genre in Model.MovieGenre)
                    {
                        @String.Concat(genre.GenreName, ", ")
                        ;
                    }
                </td>
            </tr>
            <tr>
                <td><strong>Directors</strong></td>
                <td>
                    @foreach (MovieDirector director in Model.MovieDirector)
                    {

                    }
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
